
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
body{
    background-color: rgb(11, 11, 11);
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(34, 34, 41);
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;

}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
   
}
nav ul li a:hover{
   color: rgb(129, 129, 224);
   font-size: 1.2rem;
}
nav .left{
    font-size:1.3rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
    padding: 80px 0 0 0;
}
.firstsection > div{
    width: 30%;
    height: 40vh;
}
.rightsection{
    font-size: 3rem;
    margin: 88px 0;
}
.leftsection{
    margin: 40px 0;
    position: relative;
    transition: all 0.3s ease;
}
.leftsection img{
    height: 60vh;
    border-radius: 150px;
    position: relative;
    top: -60px;
    
}
.leftsection img:first-child{
    height: 60vh;
    border-radius: 150px;
    position: relative;
    top: -60px;
    box-shadow: 0px 10px 15px -3px rgba(233, 233, 233, 0.5);
    object-fit: cover;
    transition: all 0.3s ease;
    
}
.leftsection img:last-child{
    position: absolute;
    height: 500px;
    top: -150px;
    left: 0;
    /* right: 120px; */
    margin: auto;
    transform: translateY(25%);
    opacity: 0;
    transition: all 0.3s ease;
}
.leftsection::before{
    color: rgb(19, 19, 101) 95%;
    opacity: 0;
    transition: all 0.3s ease;
}
.leftsection:hover::before{
    opacity: 1;
}
.leftsection:hover img:first-child{
    transform: perspective(250px) rotateX(50deg) translateY(-10%) translateZ(0);
}

.leftsection:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
    
}

button{
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid white;
    background-color: rgba(78, 77, 77, 0.219);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;

}

button:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px #00fffc;
}

.purple{
    color: rgb(138, 75, 198);
}
#element{
    color: aqua;
}

main hr{
    margin: 30px 84px;
    border: 0;
    height: 1.4px;
    background: rgb(119, 119, 230);  
}

.secondsection{
    margin: auto;
    max-width: 80vw;
    height: 80vh;

}
.secondsection h1{
    font-size: 2rem;
}
.grey{
    color: grey;
}

.secondsection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    
}
.secondsection .vertical{
    background: white;
    width: 1px;
    height: 90px;
    margin: 0 150px;
}
.vertical img{
    height: 23px;
    position: relative;
    top: -32px;
    left: -12px;
}
.ver-text{
    position: relative;
    top: 69px;
    right: 20px;
    font-size: 23px;
}
.ver-text a:hover{
    color: aqua;
    font-size: 1.4rem;
}
.ver-text:hover{
    color: aqua;
    font-size: 1.4rem;
}
.ver-text a{
    text-decoration: none;
    color: white;
}
.ver-des{
    top: 101px;
    position: relative;
    width: 150px;
    color: grey;
    right: 20px;
}

.thirdsectionflex{
    /* padding: 0 120px; */
    padding: 0 120px;
    position: relative;
    height: 60vh;
    /* width: 100vw;        */
    display: flex;
    justify-content: space-around;
    /* margin: 100px 0; */
}
.thirdsection h1{
    width: 80vw;
    margin: auto;
    font-size: 35px;
    text-decoration: underline;
}
.rightbox{
    
    width: 100vw;
    height: 50vh;
    margin: 43px 0;
    font-size: 28px;
    
}
.leftbox{
    
    width: 30vw;
    height: 50vh;
    margin: 43px 0;
}

.fourthsection{
    height: 70vh;
}

.fourthsectionflex{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
.fourthsection h1{
    width: 80vw;
    margin: auto;
    font-size: 35px;
    text-decoration: underline;
}
.rightskill{
    
    width: 50vw;
    height: 50vh;
    margin: 43px 0;
    font-size: 28px;
    
}
.leftskill{
    width: 30vw;
    height: 50vh;
    margin: 43px 0;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 33.3%;
    gap: 26px;
    box-shadow: 4px 4px 5px cyan;
    padding: 0 8px;

}
.box1 p{
    color: blueviolet;
}
.box1 .yes{
    color: yellow;
}
.box1 .no{
    color: brown;
}

main{
    position: relative;
}
hr{
    margin: 30px 84px;
    border: 0;
    height: 1.4px;
    background: rgb(119, 119, 230); 
}
footer{
    background-color:  rgb(27, 27, 30);;
    
}
.footer{
    display: flex;
    padding: 23px 123px;
    justify-content: space-evenly;
    color: rgb(152, 125, 49);
    
}
.footer ul{
    list-style: none;
}
.footer>div{
    width: 200px;
}
footer .text-cen{
    text-align: center;
    color: grey;
    padding: 20px;
}
.btn{
    position: relative;
    left: 650px;
}

.btn img{
    border-radius: 50px;
}
.btn:hover img:hover{
    border: 2px solid red;
}